{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}

<body>

     <article>
        {% block contenu %}{% endblock %}
     </article>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>

</html>

{% endblock %}