{% extends 'base.html.twig' %}

{% block title %}New Classes{% endblock %}

{% block body %}
    <h1>Create new Classes</h1>

    {{ include('classes/_form.html.twig') }}

    <a href="{{ path('classes_index') }}">back to list</a>
{% endblock %}
