@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

div, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.form-check { 
  border: none;
  float: left;
}

.form-check > input { display: none; } 
.form-check > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.form-check > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.form-check > input:checked ~ label, /* show gold star when clicked */
.form-check:not(:checked) > label:hover, /* hover current star */
.form-check:not(:checked) > label:hover ~ label { color: var(--blue-ndlp); } /* hover previous stars in list */

.form-check > input:checked + label:hover, /* hover current star when changing rating */
.form-check > input:checked ~ label:hover,
.form-check > label:hover ~ input:checked ~ label, /* lighten current selection */
.form-check > input:checked ~ label:hover ~ label { color: var(--blue-ndlp-hover); } 