{% extends 'base.html.twig' %}

{% block title %}FeedBack Self{% endblock %}

{% block body %}
{# /* <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style> */ #}

    <main>
        <div class="main__title">
            <h1>FeedBack Self</h1>
        </div>
        <div class="main__btn">
                <a id="btn5" href="{{ path('qrcode_generate') }}"><span class="TxtBtn">générer le QR-code</span></a>
        </div>
    </main>
    <footer>
      <div class="foo-container">
        <div class="bloc">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
            Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. 
            Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. 
            Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. 
            Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. 
            Praesent blandit odio eu enim.
          </p>
        </div>
        <div class="bloc">
          <p>
            Créer par les SIO 2, Equipe 1.
            <br>
            <br>
            Logiciel à déstination du personnel
            <br>
            <br>
            2021
            <br>
            <br>
            adresse du lycée 
          </p>
        </div>
      </div>
    </footer>
{% endblock %}
