<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/cropped-cropped-NDLP-3-min-e1544695116495.png" type="image/x-icon">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/dashboard.css">
    <title>dashboard</title>
</head>
<body>
    {% if error != '' %}
        <div class="error">{{error}}</div>    
    {% endif %}
    <header>

        <nav class="leftNav" id="myTopnav">
            <div class="leftnav__date">
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
            </div>
            <span class="leftnav__separateBar"></span>
            <div class="leftnav__param">
                <a class="topnav__link" href="dashboard.php">| Rapports</a>
                <a class="topnav__link" href="classeList.php">| Gestion des classes</a>
                <a class="topnav__link" href="userList.php">| Gestion des utilisateurs</a>
            </div>
        </nav>
        
        <nav class="topnav" id="myTopnav">
          <div id="left">
            <img class="topnav__link img" src="/images/cropped-cropped-NDLP-3-min-e1544695116495.png">
            <span class="topnav__link">Notre Dame de la Providence</span>
          </div>
          <a class="topnav__link" id="right" href="index.html">| Logout</a>
        </nav>
    </header>
    <main>
    <div class="bloc_dashboard">
        <div class="btn_container">
            <h1>FeedBack - {{ title }}</h1> 
            <a href="classeadd.php"><button id="btn5">Add classe</button></a>
        </div>
        <table>
            <tr class="table_title">
                <th>id</th>
                <th>libellé</th>
            </tr>
            <tr>
            {% for classes in classes %}
               <tr><th class="table_id">{{ classes.classe_Id  }}</th> <th>{{ classes.classe_libelle }}</th></tr>
            {% endfor %}
            </tr>
        </table>
    </div>
    </main>
</body>
</html>