<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/feedBack.css">
    <title>FeedBack - self</title>
</head>
<body>
    {% if error != '' %}
        <div class="error">{{error}}</div>    
    {% endif %}
    <header>
        <nav class="topnav" id="myTopnav">
          <span class="topnav__link">FEEDBACK SELF</span>
        </nav>
        <h1>{{title}}</h1>
    </header>
    <main>

        <form method="POST" >


            <textarea class="login_inputs" name="comment" rows="5" cols="33" placeholder="Commentaire... "></textarea>

            <div class="bottom_button"> <input class="login_inputs" id="submit" type="submit"> </div>
        </form>   
    </main>
    
</body>
</html>