<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/login.css">
    <title>nouvel Note</title>
</head>
<body>
    {% if error != '' %}
        <div class="error">{{error}}</div>    
    {% endif %}
    <header>
        <nav class="topnav" id="myTopnav">
          <div id="left">
            <img class="topnav__link img" src="/images/cropped-cropped-NDLP-3-min-e1544695116495.png">
            <span class="topnav__link">Notre Dame de la Providence</span>
          </div>
          <a class="topnav__link" id="right" href="#">| Login</a>
        </nav>
    </header>
    <main>
        <form method="POST" class="login_form">
            <h1 class="login_title"> Donnez votre avis ! </h1>
            <label for="rating_repas">Note repas :</label>
            <input class="login_inputs" value="1" type="radio" name="rating_repas" >
            <input class="login_inputs" value="2" type="radio" name="rating_repas" >
            <input class="login_inputs" value="3" type="radio" name="rating_repas" >
            <input class="login_inputs" value="4" type="radio" name="rating_repas" >
            <input class="login_inputs" value="5" type="radio" name="rating_repas" > <br>
            <label for="rating_env">Note Environnement :</label>
            <input class="login_inputs" value="1" type="radio" name="rating_env">
            <input class="login_inputs" value="2" type="radio" name="rating_env" >
            <input class="login_inputs" value="3" type="radio" name="rating_env" >
            <input class="login_inputs" value="4" type="radio" name="rating_env" >
            <input class="login_inputs" value="5" type="radio" name="rating_env" > <br>
            <label for="comment">Commentaire :</label>
            <textarea rows="10" cols="30" name="comment"></textarea>
            <label for="classe">Votre classe :</label>
            <select name="classe">
                <option value="">--Please choose an option--</option>
                <option value="1">BTS SIO2</option>
                <option value="2">BTS SIO1</option>
                <option value="3">BTS SAM2</option>
                <option value="4">BTS SAM1</option>
                <option value="5">BTS GPME2</option>
                <option value="6">BTS GPME1</option>
            </select><br><br>
            
            <input class="login_inputs" id="btn5" type="submit">
        </form>
    </main>
</body>
</html>
