<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/dashboard.css">
    <title>QR code</title>
</head>
<body>
    {% if error != '' %}
        <div class="error">{{error}}</div>    
    {% endif %}
    <header>

        <nav class="leftNav" id="myTopnav">
            <div class="leftnav__date">
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
            </div>
            <span class="leftnav__separateBar"></span>
            <div class="leftnav__param">
                <a class="topnav__link" href="#">| Rapports</a>
                <a class="topnav__link" href="#">| Gestion des classes</a>
                <a class="topnav__link" href="userList.php">| Gestion des utilisateurs</a>
            </div>
        </nav>
        
        <nav class="topnav" id="myTopnav">
          <div id="left">
            <img class="topnav__link img" src="/images/cropped-cropped-NDLP-3-min-e1544695116495.png">
            <span class="topnav__link">Notre Dame de la Providence</span>
          </div>
          <a class="topnav__link" id="right" href="index.html">| Logout</a>
        </nav>
    </header>
    <main>
    <div align = center>
    <h1>{{ title }}</h1> 
        <p>{{text}}</p>
        <img src={{ qrcode }} alt="">
    </main>
    </div>
</body>
</html>