{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="../css/dashboard.css">
{% endblock %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
    <center><h1>L'utilisateur à été enregistré !</h1></center>

{% endblock %}
